.projectCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 69vw;
  box-shadow: 0px 6px 64px 0px #7090b01a;
  height: 36.5vw;
  border-radius: 24px;
  margin-bottom: 45px;
}

.projectDescription {
  width: 50%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.projectImage {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Route2ProjectName {
  font-family: Playfair Display;
  font-size: 32px;
  font-weight: 700;
  text-align: left;
  color: #25282b;
  margin-left: 28px;
  margin-bottom: 8px;
}

.Route2ProjectDesc {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 400;

  letter-spacing: 0em;
  text-align: left;
  color: #828282;
  margin-left: 28px;
  margin-bottom: 8px;
}

.ProjectLink {
  border-radius: 24px;
  border: 1px;
  color: #25282b;
  border: 1px solid #25282b;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  margin-left: 28px;
  padding: 8px;
}

.ImageRight {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  width: 100%;
}

.ImageLeft {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Route2ProjectName {
    font-family: Playfair Display;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    color: #25282b;
    margin-left: 28px;
    margin-bottom: 8px;
  }

  .Route2ProjectDesc {
    font-family: Nunito;
    font-size: 8px;
    font-weight: 400;
    text-align: left;
    color: #828282;
    margin-left: 28px;
    margin-bottom: 2px;
  }
  .ProjectLink {
    border-radius: 24px;
    border: 1px;
    color: #25282b;
    border: 1px solid #25282b;
    font-family: Roboto;
    font-size: 8px;
    font-weight: 500;
    margin-left: 28px;
    padding: 5px;
  }
}
